# Python
.venv/
__pycache__/
*.pyc
*.egg-info/
build/
dist/
.out/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
build/

# 编辑器
.idea/
.vscode/
*.swp
.DS_Store
